
<div class="col">
 <div class="card text-center col text-white verdemusgo h-100"> <img src="@Model.ImagemPequenaUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">  <a class="text-white" asp-controller="Item" asp-action="Details" asp-route-itemId="@Model.ItemId">@Model.Nome</a></h5>
                <h6 class="card-subtitle"> @Model.Preco.ToString("c")</h6>
                <p class="card-text">@Model.DescricaoCurta<p>

                  <a class="btn laranja text-white" id="cartButton" asp-controller="Carrinho"
                asp-action="AdicionarItemNoCarrinhoCompra" asp-route-itemId="@Model.ItemId">
                Incluir no Carrinho
            </a>
   
            </div>
        </div>
</div>  
